.section-title1 {
    color: black !important;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    padding-left: 15px;
    margin-top: 20px;
}

.section-title {
    color: black !important;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 1rem;
    padding-bottom: 3px;
}


a {
    color: #20c997;
    transition: color 0.2s;
}

a:hover {
    color: #17a2b8;
    text-decoration: underline;
}


body {
    background-color: midnightblue !important;
}


.card {
    border-radius: 0.5rem;
    padding: 0;
    overflow: hidden;
    background-color: white !important;
}

.container-fluid1 {
    padding: 0 2.5rem;
    border-radius: 1rem;
}

