.news-container {
    padding: 2rem;
    background-color: #f8f9fa;
}

.section-title0 {
    margin-left: 20px;
    margin-top: 15px;
    text-align: left;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: black;
}
.section-title {
   padding-bottom: 3px;
    margin-left: 27px;
    margin-top: 15px;
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: blanchedalmond;
}

.news-grid {
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
}